body{
    background-color: #1e1e1e;
}

h1{
    flex-wrap: wrap;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: white;
}
p{
    color:white;
}

li{
 list-style: none;
 font-family: 'Courier New', Courier, monospace;
 font-size: 2rem;

}

img{
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-items: flex-end;
    
}