body{
    background-color: #1e1e1e;
}

h1{
    flex-wrap: wrap;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: white;
}

ul{
    list-style: none;
}